
.logo {
    width: 300px;
    border-radius: 5px;
}

#login-container {
    margin:auto;
    padding-left: 120px;
}

#register-container {
    margin:auto;
    padding-left: 120px;
}

#create-container {
    margin:auto;
    padding-left: 120px;
}


.form-group {
 float: left;
}

.nav_section a{
    margin: 5px;
}

.jumbotron {
    text-align: center;
    height: 150px;
}

.right_section {
    margin: 0 100px 0 300px;
}

.form-group {
    width: 800px;
}


.btn {
    margin: 2px;
}

