<h1>Add New Book</h1>


<div id="succssesBox"><h2 id="succssesMsg">Book Added</h2></div>
<div class="container">
    <form action="/addBook" method="POST">

        <div>
            <input type="text" id="bookTitle" name="bookTitle" placeholder="The title of the book">
        </div>
        <div>
            <input type="date" id="bookYear" name="bookYear" placeholder="Year of release">
        </div>
        <div>
            <input type="url" id="bookPoster" name="bookPoster" placeholder="Link to a poster">
        </div>
        <div>
            <input type="text" id="bookAuthor" name="bookAuthor" placeholder="Book author">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>

    </form>
</div>