<div class="spacer">
    <h2>Astronomy
        <div class="controls">
            <a href="/edit/{{article._id}}">[edit]</a>
            <a href="/history/{{article._id}}">[history]</a>
        </div>
    </h2>
    <article>

            <p>
                {{lastEdit.content}}
            </p>

    </article>
</div>