<section>
    <h2>Astronomy</h2>
    <div class="spacer">
        <h3>Edit hostory</h3>
        <ul>

            {{#each edits}}
                <li>
                    <a>{{creation}}</a>
                    <span class="author">{{authorId}}</span>
                </li>
            {{/each}}

        </ul>
    </div>
</section>