<section>
    <h2>Register</h2>
    <div class="spacer">
        <form action="register" method="post">
            <label>Username:</label>
            <input type="text" name="username">
            <label>First name:</label>
            <input type="text" name="firstName">
            <label>Last name:</label>
            <input type="text" name="lastName">
            <label>Password:</label>
            <input type="password" name="password">
            <label>Repeat password:</label>
            <input type="password" name="repeatedPassword">
            <input type="submit" value="Register">
        </form>
    </div>
</section>