<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a href="https://expressjs.com/en/4x/api.html">
            <img class="logo" src="/img/expressLogo.png" alt="logo"/>
        </a>

        {{#if currentUser}}

            <form id="logout-form" action="/logout" method="POST">
                <span class="text-white">Welcome, {{currentUser.username}}!</span>
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        {{else}}
            <section class="nav_section">
                <a class="btn btn-primary" href="/login">Login</a>
                <a class="btn btn-primary" href="/register">Register</a>
            </section>
        {{/if}}
    </nav>

    <nav class="navbar navbar-light bg-light justify-content-between">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/home">Main page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/latestArticle">Latest article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allArticles">All articles</a>
            </li>
            {{#if currentUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/create">Create new article</a>
                </li>
            {{/if}}
        </ul>

        <section id="search">
            <form class="form-inline my-2 my-lg-0" action="/search" method="post">
                <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </section>
    </nav>


</header>

<main>

    {{{body}}}

</main>

</body>

</html>